name: Build Package

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test-package:
    name: Build and test on JDK ${{ matrix.java }}
    strategy:
      matrix:
        java: [ 8, 11, 17 ]
    runs-on: ubuntu-latest
    steps:
      - name: 'Cancel previous runs'
        uses: styfle/cancel-workflow-action@0.10.1
        with:
          access_token: ${{ github.token }}
      - name: 'Check out repository'
        uses: actions/checkout@v3.3.0
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v3.5.1
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: 'Build with Maven'
        run: mvn --batch-mode --update-snapshots clean verify
